<!DOCTYPE html>
<html lang="{{lang.lang}}">
<head>
    <meta charset="UTF-8">
    <title>{{lang.title}}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css">
    <link href="{{favicon}}" rel="shortcut icon" >
</head>
<body>
<div class="menu">
    <ul>
        <a href="/"><li>{{lang.home}}</li></a>
        <a href="/blog/{{metod.autor}}?page={{metod.page}}"><li>{{lang.listBlogs}}</li></a>
    </ul>
</div>
<div class="head">
    <h3>{{lang.head}}</h3>
    <div class="avatar" style="background-image: url('{{metod.avatar}}')"></div>
</div>
<div class="blogs">
    <div class="blog">
        <!--<div class="tytle">-->
            <!--{{blog.tytle}}-->
        <!--</div>-->
        <div class="title">
            {{metod.blog.title}}
        </div>
        <div class="body">
            {{metod.blog.text}}
        </div>
        <div class="foot">
            <div class="datatime">
                {{metod.blog.datetime}}
            </div>
            <!--<a href="/read/{{autor}}?id={{blog.id}}&page={{page}}">-->
                <!--<div class="btn delete">-->
                    <!--{{btnRead}}-->
                <!--</div>-->
            <!--</a>-->
        </div>
    </div>
</div>
</body>
</html>