<!DOCTYPE html>
<html lang="{{lang.lang}}">
<head>
    <meta charset="UTF-8">
    <title>{{lang.title}}{{metod.fullName}}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css">
    <link href="{{favicon}}" rel="shortcut icon" >
</head>
<body>
<div class="menu">
    <ul>
        <a href="/"><li>{{lang.home}}</li></a>
        <!--<a href="/create"><li>{{create}}</li></a>-->
    </ul>
</div>
<div class="head">
    <h3>{{lang.head}}{{metod.fullName}}</h3>
    <div class="avatar" style="background-image: url('{{metod.avatar}}')"></div>
</div>
<div class="hi">{{lang.listBlogs}}</div>
<div class="blogs">
    {%for blog in metod.blogs: %}
        <div class="blog">
            <!--<div class="tytle">-->
                <!--{{blog.tytle}}-->
            <!--</div>-->
            <div class="title">
                {{blog.title}}
            </div>
            <div class="body">
                {{blog.text}}
            </div>
            <div class="foot">
                <div class="datatime">
                    {{blog.datetime}}
                </div>
                <a href="/blog/{{metod.autor}}/{{blog.id}}?page={{metod.page}}">
                    <div class="btn delete">
                        {{lang.btnRead}}
                    </div>
                </a>
            </div>
        </div>
    {%end%}
</div>
<div class="blogsCount">
    {{lang.countText}}{{metod.blogCount}}
</div>
{{metod.pagination}}
</body>
</html>