<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css">
    <link rel="shortcut icon" href="{{favicon}}" />
</head>
<body>
<div class="head">
    {{head}}
</div>
<div class="form">
    <form method="POST" action="/edit/{{post.id}}" name="postCreate">
        <div class="edit user">
            <div>
                {{body}}:
            </div>
            <div>
                <!--<input type="hidden" name="id" value="{{post.id}}">-->
                <input type="text" name="title" value="{{post.title}}">
                <textarea name='text'>
                    {{post.text}}
                </textarea>
                <input type='checkbox' name='sandbox' value="True"
                {% if post.sandbox == True: %}
                       checked
                {% end %}
                />{{labelSandbox}}<br>
            </div>
            <div>
                {{labelDataCreate}}
            </div>
            <div>
                {{post.datatime}}
            </div>
            <div>
                {{labelDataEdit}}
            </div>
            <div>
                {{post.datatimeEdit}}
            </div>



        </div>
        <div class="btn logon"><button type="submit">{{send}}</button></div>
    </form>
</div>
</body>
</html>