<!DOCTYPE html>
<html lang="{{lang.lang}}">
<head>
    <meta charset="UTF-8">
    <title>{{lang.title}}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css">
    <link rel="shortcut icon" href="{{favicon}}">
</head>
<body>
<div class="menu">
    <ul>
        {% if metod.count == 0: %}
            <a href="/registration"><li>{{lang.registration}}</li></a>
        {% end %}
        <a href="/admin"><li>{{lang.logon}}</li></a>
    </ul>
</div>
<div>
    <h4>{{lang.readBlog}}</h4>
</div>
<div class="autors">
    {%for autor in autors%}
        <a href="/blog/{{autor.userName}}">
            <div class="autor">
                <div class="avatar" style="background-image: linear-gradient(0deg, #000, #000), url('{{autor.avatar}}')"></div>
                <div class="firstName">{{autor.firstName}}</div>
                <div class="lastName">{{autor.lastName}}</div>
            </div>
        </a>
    {%end%}
</div>
</body>
</html>