<!DOCTYPE html>
<html lang="{{lang.lang}}">
<head>
    <meta charset="UTF-8">
    <title>{{lang.title}}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css">
    <link rel="shortcut icon" href="{{favicon}}" />
</head>
<body>
<div class="menu">
    <ul>
        <a href="/"><li>{{lang.home}}</li></a>
    </ul>
</div>
<div class="head">
    {{lang.head}}
</div>
<div class="form">
    <form method="POST" action="/admin" name="logon">
        <div class="edit user">{{lang.login}}:<input type="text" name="userName" value="tesla"/></div>
        <div class="edit pass">{{lang.password}}:<input type="text" name="password" value="1"/></div>
        <div class="btn logon"><button type="submit">{{lang.logon}}</button></div>
    </form>
</div>
</body>
</html>