<!DOCTYPE html>
<html lang="{{lang.lang}}">
<head>
    <meta charset="UTF-8">
    <title>{{lang.title}}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css">
    <link href="{{favicon}}" rel="shortcut icon" >
</head>
<body>
<div class="menu">
    <ul>
        <a href="/logout"><li>{{lang.logout}}</li></a>
        <a href="/create"><li>{{lang.create}}</li></a>
    </ul>
</div>
<div class="head">
    <h3>{{lang.head}}</h3>
</div>
<div class="user">
    <div class="hi">{{lang.hi}}</div>
    <div class="firstName">{{metod.user.firstName}}</div>
    <div class="lastName">{{metod.user.lastName}}</div>
    <div class="avatar" style="background-image: url('{{metod.user.avatar}}')"></div>
</div>
<div class="blogs">
    <div class="hi">{{lang.listBlogs}}</div>
    {%for blog in metod.blogs: %}
        <div class="blog">
            <!--<div class="tytle">-->
                <!--{{blog.tytle}}-->
            <!--</div>-->
            <div class="title">
                {{blog.title}}
            </div>
            {% if blog.sandbox == True: %}
                <div class="sandbox">
                    {{lang.sandboxLabel}}
                </div>
            {% end %}
            <div class="body">
                {{blog.text}}
            </div>
            <div class="foot">
                <div class="datatime">
                    {{blog.datetime}}
                </div>
                <a href="/delete/{{blog.id}}">
                    <div class="btn delete">
                        {{lang.btnDelete}}
                    </div>
                </a>
                <a href="/edit/{{blog.id}}">
                    <div class="btn edit">
                        {{lang.btnEdit}}
                    </div>
                </a>
            </div>

        </div>
    {%end%}
</div>
<div class="blogsCount">
    {{lang.countText}}{{metod.blogCount}}
</div>
{{metod.pagination}}
</body>
</html>