<!DOCTYPE html>
<html lang="{{lang.lang}}">
<head>
    <meta charset="UTF-8">
    <title>{{lang.title}}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css">
    <link rel="shortcut icon" href="{{favicon}}" />
</head>
<body>
<div class="head">
    {{lang.head}}
</div>
<div class="form">
    <form method="POST" action="/edit/{{metod.post.id}}" name="postCreate">
        <div class="edit user">
            <div>
                {{lang.body}}:
            </div>
            <div>
                <!--<input type="hidden" name="id" value="{{post.id}}">-->
                <input type="text" name="title" value="{{metod.post.title}}">
                <textarea name='text'>
                    {{metod.post.text}}
                </textarea>
                <input type='checkbox' name='sandbox' value="True"
               {% if metod.post.sandbox == True: %}
                       checked
                {% end %}
                />{{lang.labelSandbox}}<br>
            </div>
            <div>
                {{lang.labelDateCreate}}
            </div>
            <div>
                {{metod.post.datetime}}
            </div>
            <div>
                {{lang.labelDateEdit}}
            </div>
            <div>
                {{metod.post.datetimeEdit}}
            </div>
        </div>
        <div class="btn logon"><button type="submit">{{lang.send}}</button></div>
    </form>
</div>
</body>
</html>